.home-container {
  display: flex;
  flex-wrap: wrap; /* Allow containers to wrap to the next line on smaller screens */
  justify-content: space-around;
  padding: 20px;
}

img[alt="Profile"] {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

img:hover[alt="Profile"] {
  transform: scale(1.2);
}

h1.Hi {
  font-size: clamp(2rem , 5vw, 3rem);
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(202, 220, 224);
  text-align: center;

}

div.body{
  background-color: rgb(202, 220, 224);
}



button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #ff9900;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 1.2em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.FooterBottom{
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Media query for smaller screens */
@media only screen and (min-width: 768px) {
  .left-container,
  .right-container {
    width: 48%; /* Adjust the width of containers based on your design preference */
  }
}

