.projects-container {
  overflow: hidden;
  width: 100%;
}

.project-images {
  display: flex;
  animation: scrollRightToLeft 5s linear infinite; /* Adjust the duration as needed */
}

.project-images img {
  width: 100px;
  margin-right: 20px;
}

@keyframes scrollRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}







/*
h1.Project {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  margin-top: 0;
  padding: 10px;
}

.project-list {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0;
  margin-bottom: 0px;
  list-style: none;
}

.project-list li {
  flex: 0 0 auto;
  text-align: center;
  width: 70%; 
  margin-bottom: 2em;
  margin-top: 2em;
}

.project-list li img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: auto;
}

.project-list li p {
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: bold;
}

.project-image {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .project-list li {
    width: 30%; 
  }
}




*/